body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

#inputtext {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
    transition: border-color 0.3s ease;
}

#inputtext:focus {
    border-color: #4caf50;
    outline: none;
}

#add {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add:hover {
    background-color: #45a049;
}


#task-list {
    padding: 0;
    margin: 0;
    width: 90%;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ddd;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    min-width: 300px;
    max-width: 500px;
}

li:hover {
    transform: translateY(-5px);
    background-color: #f1f1f1;
}

input[type="checkbox"] {
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

label {
    flex-grow: 1;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d32f2f;
}

button:focus {
    outline: none;
}


#inputtext::placeholder {
    color: #999;
    font-style: italic;
}

